<ion-view view-title="Lista de Usuarios">
	<ion-content>
		<!--lista de usuarios-->
		<ion-list>
      		<ion-item ng-repeat="user in users">
        		{{user.name}}
    	  	</ion-item>
	    </ion-list>

	</ion-content>
</ion-view>


